.btn{
    padding: 0.5em 2.5em 0.5em 2.5em;
}

.container-fluid{
    padding-top: 50px;
    padding-bottom: 60px;
}

.dropdown-item:hover{
    background-color: #FDCD3D;
}

.footer-left{
    padding-left: 5.25em;
}

.footer-right{
    padding-right: 5.25em;
}

.footer-text-wrap{
    text-align: left;
}

#logo{
    height: 70px;
    width: auto;
}

.navbar-brand{
    margin: 0  2em 0 10em;  
}

.nav-link{
    color: #1F1F1F;
    margin-right: 1em;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

.nav-text{
    margin: 2em 0 -1em 0;
}

#ust-logo{
    width: 350px;
    height: auto;
}

.yellow-bg{ 
    background-color: #FDCD3D;
    color: #1F1F1F;
}